<div class="container content-container">
  <p> <%= @no_cocktails_found %> </p>
  <p>
    Sort by: <%= link_to "rating", cocktails_path(sort: :rating, query: params[:query]) %> |
  <%= link_to "name", cocktails_path(sort: :name, query: params[:query]) %>
  </p>


  <div class="cards">
    <% @cocktails.each do |cocktail| %>
      <div class="card-cocktail" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('<%= cl_image_path cocktail.photo %>')">
        <h2><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
        <% unless cocktail.reviews.empty? %>
          <span class="card-average-rating"><%= ("<i class=\"fas fa-star\"></i>" * cocktail.reviews.average(:rating)).html_safe %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
