<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= @cocktail.image %>')">
  <div class="container">
    <h1><%= @cocktail.name.capitalize %></h1>
  </div>
</div>

<div class="container">
  <h2>Recipe</h2>
  <ul>
    <% @cocktail.doses.each do |dose| %>
      <li><%= dose.ingredient.name.capitalize %>: <%= dose.description.capitalize %> (<%= link_to"Delete", cocktail_dose_path(@cocktail, dose), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" %>)</li>
    <% end %>
  </ul>

  <h3>Add an ingredient</h3>

  <%= simple_form_for [@cocktail, @dose], html: { class: "dose-form"} do |f| %>
    <%= f.association :ingredient, selected: 1, input_html: { class: "select2" } %>
    <%= f.input :description %>
    <%= f.submit "Submit", class: "btn btn-primary" %>
  <% end %>

</div>

<!-- <script>
  window.reload = function(e) {
    if (window.location.href.match(/doses/)) {
      window.location.replace("https://www.google.com");
    }
  };
</script>
 -->
