<div class="header" style="background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url('<%= cl_image_path @cocktail.photo %>')">
  <div class="container">
    <h1><%= @cocktail.name.capitalize %></h1>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-lg-8">
       <h2>Recipe</h2>
        <ul>
          <% @cocktail.doses.each do |dose| %>
            <li><%= dose.ingredient.name.capitalize %>: <%= dose.description.capitalize %> (<%= link_to"Delete", cocktail_dose_path(dose), method: :delete, data: { confirm: "Are you sure?" }, class: "text-danger" %>)</li>
          <% end %>
        </ul>
    </div>

    <div class="col-12 col-lg-4">
      <h3>Add an ingredient</h3>

      <%= simple_form_for [@cocktail, @dose], html: { class: "dose-form"} do |f| %>
        <%= f.association :ingredient, selected: 1, input_html: { class: "select2" } %>
        <%= f.input :description %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>


  <div class="row">
    <div class="col-12 col-lg-8">
      <h2>Reviews</h2>

      <% @cocktail.reviews.each do |review| %>
        <div class="card-review">
          <p><%= review.user %> - <%= ("<i class=\"fas fa-star\"></i>" * review.rating).html_safe %></p>
          <p class="mb-0">« <%= review.content %> »</p>
        </div>
      <% end %>

      <h3>Add a review</h3>
      <%= simple_form_for [@cocktail, @review] do |f| %>
        <%= f.input :user %>
        <%= f.input :content %>
        <%= f.input :rating, as: :numeric %>
        <%= f.submit "Submit", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
